@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "colors";
@import "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: $tertiary;
}

main {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: $primary;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 16px;
  color: $cool-gray;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
  border: 1px solid $light-gray;
}

#root,
#__next {
  isolation: isolate;
}

// BUTTONS

button {
  background-color: $primary;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  color: $white;
  cursor: pointer;
}

.prev {
  background-color: transparent;
  color: $cool-gray;
  font-weight: 600;
  padding: 0;
}

.submit {
  background-color: $secondary;
}

button:hover,
.submit:hover {
  opacity: 0.8;
}

.change-button {
  background: transparent;
  color: $primary;
  padding: 0;
  text-decoration: underline;
}

.change-button:hover {
  color: $secondary;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  background-color: $white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 1.3rem;
}

//* LAYOUT *//

.main-container {
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form {
  --container-width: 115ch;
  --container-gutter: 2rem;
  --container-padding: 1rem;
  width: min(var(--container-width), 100% - var(--container-gutter));
  margin-inline: auto;
  background-color: $white;
  border-radius: 0.5rem;
  margin-top: -5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.layout-grid {
  --min: 25ch;
  --gap: 1rem;
  display: grid;
  grid-gap: var(--gap);
}

.flex-container {
  --gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.sidebar-container {
  background-image: url("/imgs/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 13rem;
  margin-top: -2rem;
}

//* SIDEBAR *//

.label {
  text-align: left;
  display: none;

  p {
    text-transform: uppercase;
  }

  p:first-of-type {
    color: $tertiary;
    font-size: 0.9rem;
  }

  p:nth-of-type(2) {
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;

  span {
    color: $white;
  }
}

.sidebar-step {
  display: flex;
  flex-direction: row;
}

.intro {
  text-align: left;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.3rem;
  align-items: start;
  gap: 0.7rem;
}

label {
  color: $primary;
  font-weight: 600;
}

.sidebar-container p {
  color: $white;
}

// STEP 1

.step1 input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid $light-gray;
  padding: 1.4rem 1.2rem;
  color: $primary;
  font-weight: 600;
}

.flex-container-step1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.hint {
  margin-bottom: 1rem;
  color: $cool-gray;
  font-size: 14px;
}

// STEP 2

.plan-container {
  --gap: 2rem;
  display: grid;
  gap: var(--gap);
  margin: 3rem 0;
  width: 100%;
}

.pricing-column {
  position: relative;
  overflow: hidden;
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  box-shadow: 0 0 0 1px #e5e5e5;
  border-radius: 0.8rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.1s linear;
}

.pricing-column:active {
  box-shadow: 0 0 0 1px $secondary;
}

.plan-price {
  color: $secondary;
  font-weight: 500;
}

.monthly-plan {
  font-weight: 600;
}

.switch {
  display: block;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.6em;
  background-color: $light-gray;
  border-radius: 1em;
  cursor: pointer;
}

.switch::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background-color: $white;
  top: 0.2em;
  left: 0.2em;
  transition: all 1s;
}

.checkbox:checked + .switch::after {
  left: 1.6em;
}

.checkbox:checked + .switch {
  background-color: $bg-color;
}

.checkbox {
  display: none;
}

.plan {
  display: flex;
  justify-content: center;
  gap: 6%;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
}

.yearly-info {
  display: none;
  font-size: 0.9rem;
  margin-top: 1rem;
}

#monthly-plan {
  font-weight: 600;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.pricing-column:hover {
  box-shadow: 0 0 0 2px $secondary;
}

// STEP 3 - ADD-ONS

.addon-container {
  display: flex;
  padding: 2rem;
  margin-bottom: 0.5rem;
  border: 1px solid $light-gray;
  border-radius: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.selected-addon {
  background-color: $magnolia;
  border-color: $secondary;
}

.addon-price {
  color: $secondary;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

.addon-container input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: $white;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.addon-container input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $secondary;
}

.addon-container input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.addon-container > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

// STEP 4 - SUMMARY

.summary-container {
  padding: 2rem 1rem;
  width: 100%;
  flex-direction: column;
  align-items: start;
  text-align: left;
  border-radius: 0.5rem;
}

#total-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1rem;
}

#total-price > p:nth-of-type(2) {
  color: $secondary;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

#selected-plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-container {
  background-color: $magnolia;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

#plan-name,
#display-plan-price {
  color: $primary;
  font-weight: 600;
}

#display-plan-price {
  letter-spacing: 0.04rem;
}

.thank-you {
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  img {
    width: 4rem;
  }

  p {
    text-align: center;
  }
}

.selected-addons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > p:nth-of-type(2) {
    letter-spacing: 0.04rem;
  }
}

// ERROR MESSAGES

.field-star {
  color: $error;
}

.invalid {
  border: 1px solid $error;
}

.invalid + .error-message {
  display: block;
  color: $error;
  font-size: 14px;
  margin-top: 5px;
}

.error-message {
  color: $error;
  font-size: 0.8em;
  display: none;
}

// .form-control {
//   font-family: system-ui, sans-serif;
//   font-size: 2rem;
//   font-weight: bold;
//   line-height: 1.1;
//   display: grid;
//   grid-template-columns: 1em auto;
//   gap: 0.5em;
// }

// .form-control + .form-control {
//   margin-top: 1em;
// }

//* MOBILE *//

@include breakpoint-up("large") {
  .label {
    display: block;
  }

  .plan-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .pricing-column img {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  main {
    width: 75rem;
    padding: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container {
    max-height: 100%;
    padding: 1.3rem;
  }

  .layout-grid {
    grid-template-columns: 1fr 2fr;
    background: $white;
  }

  form {
    margin-top: 0;
    box-shadow: none;
  }

  .button-container {
    position: relative;
    background: none;
  }

  .sidebar-container {
    background-image: url("/imgs/bg-sidebar-desktop.svg");
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
    gap: 3rem;
    grid-row: 1 / 3;
    -webkit-border-radius: 0.5rem;
    height: auto;
    margin-top: 0;
  }

  .pricing-column {
    flex-direction: column;
  }
}

// UTILITY CLASSES

.selected {
  box-shadow: 0 0 0 2px $secondary;
}

.hide {
  display: none;
}

.show {
  display: block;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.visibility-hidden {
  visibility: hidden;
}

.active {
  background-color: $tertiary;
  border: none;
  span {
    color: $primary;
    font-weight: 600;
  }
}
