$primary: hsl(213, 96%, 18%);
$secondary: hsl(243, 100%, 62%);
$tertiary: hsl(206, 94%, 87%);
$bg-color: hsl(228, 100%, 84%);
$error: hsl(354, 84%, 57%);
$white: hsl(0, 0%, 100%);
$cool-gray: hsl(232.3, 12.3%, 49.6%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
